# ---------------------------------------------------------------- #
# 1. Зависимости (Dependencies)
# ---------------------------------------------------------------- #
# Node modules folder
/node_modules

# pnpm-store
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/package-lock.json

# ---------------------------------------------------------------- #
# 2. Файлове на Средата и Секрети (Environment and Secrets)
# ---------------------------------------------------------------- #
# Съдържа важни API ключове, пароли и т.н.
.env
.env.local
.env.*.local
.env.development.local
.env.production.local
*.log

# ---------------------------------------------------------------- #
# 3. Генерирани Файлове за Бийлд (Build Output / Transpiled)
# ---------------------------------------------------------------- #
# Папки, в които се генерира финалният код
/dist
/build
/out

# ---------------------------------------------------------------- #
# 4. Временни Файлове на OS и Редактори
# ---------------------------------------------------------------- #
# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code (VS Code)
.vscode/

# Други временни/резервни файлове
*.tmp
*~
~*
*.bak
.fake