# Игнорираме всички папки, които не са нужни за C# проекта
**/.git
**/.github
**/node_modules
# REMOVE THIS LINE: **/tools  <-- This is the problem!
**/.vscode
# Игнорираме всички компилирани и временни файлове
**/bin
**/obj
**/out