# Игнорираме метаданни и инсталации на Node.js
**/.git
**/.github
**/node_modules
**/.vscode

# Игнорираме output-ове от компилацията
**/bin
**/obj
**/out

# Допълнително игнориране на папки, които не са нужни на Docker Build (ако не се използват от C#)
Frontend/
documents/

# 🛑 ВАЖНО: Премахнете реда **/tools